@import url("https://fonts.googleapis.com/css?family=Lato");

#progress {
    background-color: #e9f4fb;
}

#car-fill {
    padding-top: 30px;
    font-family: Lato;
}

#car-form {
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 40px 0 50px 30px;
    box-shadow: 0 3px #A9AEB0;
    width: 34.375rem;
    height: 34.375rem;
}

#platenum {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

#random {
    padding-left: 50px;
}

#caroption {
    padding: 10px;
    width: 200px;    
}

#car-button {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0 40% 0 40%;
}