#progress {
    background-color: #e9f4fb;
}

#car-fill2 {
    padding-top: 30px;
    font-family: Lato;
}

#car-form2 {
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 50px;
    box-shadow: 0 3px #A9AEB0;
    width: 550px;
    height: 550px;
    text-align: center;
}

#carinfo {
    text-align: left;
    padding-left: 100px;
    color: #B8B8B8;
}

#bmw {
    width: 175px;
    margin-right: 100px;
}

#binoimage {
    padding: 120px 0 0 0;
}

#bmw2 {
    width: 250px;
}

#car-button {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0 40% 0 40%;
}

.button2 {
    width: 120px;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #1f86c7;
    background-color: white;
    color: #1f86c7;
    font-family: Lato;
}

.button2:hover {
    background-color: #1f86c7;
    color: white;
}