#car-form2 {
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 50px;
    box-shadow: 0 3px #A9AEB0;
    width: 34.375rem;
    height: 34.375rem;
    text-align: center;
}

#carinfo {
    text-align: left;
    padding-left: 100px;
    color: #B8B8B8;
}

#bmw {
    width: 200px;
    margin-right: 75px;
}

#binoimage {
    padding-top: 120px;
}

#bino {
    width: 250px;
}