@import url("https://fonts.googleapis.com/css?family=Lato");

* {
    box-sizing: border-box;
}

.rectangle {
    position: relative;
    height: 25rem;
    width: 100%;
    background-color: #e9f4fb;
}

.text1 {
    font-family: Lato;
    font-size: 40px;
    text-align: center;
    width: 65%;
    padding-top: 90px;
    font-weight: bold;
}

.text2 {
    font-family: Lato;
    font-size: 20px;
    text-align: center;
    width: 65%;
}

.button {
    font-family: Lato;
    width: 7.5rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #1f86c7;
    background-color: white;
    color: #1f86c7;
}

.button:hover {
    background-color: #1f86c7;
    color: white;
}

.home-image {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 25rem;
    max-width: 35%;
}

#content {
    font-family: Lato;
    display: block;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: white;
    max-width: 100vw;
}

#list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.compare {
    margin-left: 20px;
    margin-right: 20px;
}

.info {
    background-color: #e9f4fb;
    border-radius: 25px;
    padding-bottom: 10px;
    box-shadow: 0 3px #A9AEB0;
    width: 25rem;
}

.carimg {
    max-width: 100%;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 4px #1f86c7;
}

.infoheader {
    text-align: center;
    padding: 20px 0 0 25px;
}

.points {
    padding-left: 45px;
    padding-right: 10px;
    list-style-type: disc;
}

.divbutton {
    font-family: Lato;
    padding-top: 15px;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .text1 {
        width: 100%;
    }

    .text2 {
        width: 100%;
    }

    .home-image{
        display: none;
    }

    .compare {
        margin-top: 20px;
        margin-left: 10vw;
        margin-right: 0px;
        max-width: 100%;
    }
    
    #list {
        display: block;
    }
}